<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    
    <add name="数据库实验.Properties.Settings.book_systemConnectionString"
      connectionString="server=localhost;user id=root;password=shu12322s;database=book_system;persistsecurityinfo=True"
      providerName="MySql.Data.MySqlClient" />
    <add name="数据库实验.Properties.Settings.book_systemConnectionString1"
      connectionString="server=localhost;user id=root;password=shu12322s;database=book_system;persistsecurityinfo=True"
      providerName="MySql.Data.MySqlClient" />
    <add name="数据库实验.Properties.Settings.book_systemConnectionString2"
      connectionString="server=localhost;user id=root;password=shu12322s;database=book_system;persistsecurityinfo=True"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>
